<footer class="" style="font-size: 1.5rem; color: white; margin: 0 30px; position: sticky;">
  <div class="pull-right hidden-xs">
    <b>B A C Dashboard</b> Version 1.0.0
  </div>
  <strong>© 2021–2024 B A C Development • Not affiliated with Discord Inc.</strong>
</footer>