<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6580783478903307">
    <title>B A C - Official Discord App</title>
    <link rel="shortcut icon" href="dist/img/logo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="dist/css/home.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script>
        $(document).ready(function () {
            $("#menu-icon").click(function () {
                $("#2-button").css({ "z-index": "-1" })
                $("#main-section").css({ "blur": "500px" })
                $("#img-logo").css({ "opacity": "0.1" })
            })
        })
        $(document).ready(function () {
            $("#close-icon").click(function () {
                $("#2-button").css({ "z-index": "1" })
                $("#img-logo").css({ "opacity": "1" })
            })
        })

    </script>
</head>

<body
    class="inset-0 -z-10 h-full w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] text-white">
    <header class="header">
        <div class="logo">
            B A C
        </div>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i id="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960"
                    width="48px" fill="#e8eaed">
                    <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
                </svg></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <nav>
            <a href="/" class="text-[#63E] transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Home</a>
            <a href="/about" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">About</a>
            <a href="/features" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Features</a>
            <a href="/status" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Status</a>
            <!-- <a href="/selector" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Dashboard</a> -->
        </nav>
    </header>

    <section class="min-h-screen min-w-screen flex flex-col justify-center items-center" id="main-section">
        <div class="container h-auto flex flex-col py-[200px] md:py-[200px]">
            <div class="mainContainer flex flex-col gap-8 justify-center">
                <div class="flex items-center justify-start gap-5">
                    <div class="ImageContainer">
                        <img class="w-[100px] rounded-2xl" id="img-logo" src="dist/img/logo.gif"
                            alt="B A C GAMING Logo">
                    </div>
                    <div class="nameContainer">
                        <span class="text-5xl font-bold text-white">B A C</span>
                    </div>
                </div>
                <div class="text-2xl">
                    <p>B A C Discord Application.</p>
                    <p>Made by Pushkar.</p>
                </div>
                <div class="flex gap-5 buttons" id="2-button">
                    <a href="/invite">Invite Bot Now</a>
                    <a href="/features">Explore Features</a>
                </div>
            </div>

            <!-- <div class="featuresContainer mt-[20vh]">
                <div class="featuresTextHeading">
                    <span class="text-3xl border-b-4 border-[#63E] pb-2 px-2 rounded-md">High Quality Music Playback.</span>
                </div>
                <div class="featuresImageLeft mt-[50px]">
                    <span>Music Start Command</span>
                    <img src="https://cdn.discordapp.com/attachments/1032715078946009149/1279099135793823838/image.png?ex=66d33566&is=66d1e3e6&hm=8377572890b4cf5900d70086a52c86452d5e6df01aad33358efa3e43c3f895e2&" alt="Play Command Ss">
                </div>
            </div> -->

            <div class="featuresContainer mt-[20vh]">
                <div class="featuresTextHeading">
                    <span class="text-3xl border-b-4 border-[#63E] pb-2 px-2 rounded-md">Bot Features</span>
                </div>
                <div class="featuresImageLeft mt-[50px] flex flex-col gap-3 text-2xl">
                    <span>15 Fun Games.</span>
                    <img class="w-[900px] rounded-2xl border border-4 border-[#63E]" src="../dist/img/features/15-games/commands.webp" alt="Play Command Ss">
                    <img class="w-[900px] rounded-2xl border border-4 border-[#63E] ml-10" src="../dist/img/features/15-games/commands-2.webp" alt="Play Command Ss">
                    <img class="w-[350px] rounded-2xl border border-4 border-[#63E] ml-20" src="../dist/img/features/15-games/2048.webp" alt="Play Command Ss">
                </div>
            </div>
        </div>
    </section>

    <footer class="flex flex-col min-h-[10vh] min-w-screen gap-5">
        <div class="footer-logo flex justify-center items-center gap-5 pt-3">
            <img src="dist/img/logo.gif" class="h-[6vh] invert rounded-xl alt=" Logo">
            <span>B A C</span>
        </div>

        <div
            class="footer-links flex justify-center items-center gap-10 pb-3 max-[768px]:flex-col max-[768px]:text-white">
            <a href="/terms"
                class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Terms
                & Conditions</a>
            <a href="/privacy"
                class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Privacy
                Policy</a>
            <a href="/legal"
                class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Legal
                Notice</a>
        </div>

        <div
            class="footer-links flex justify-center items-center gap-10 pb-3 max-[768px]:flex-col max-[768px]:text-white">
            <span>Copyright © 2024 B A C Development. All rights reserved.</span>
        </div>
    </footer>
</body>

</html>
