<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://instagram.com/b.a.c_gaming_/"> <b>B A C Dashboard</b> Version 1.0.0-beta</a>
  </div>
  <strong>This website uses <a href="https://boostrap.com">Bootstrap</a>. Made
    with <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/PUSHKAR2521">B A C</a>.</strong>
</footer>