<div class="footerContainer">
    <div class="subContainer">
        <strong>B A C</strong>
        <span>Multipurpose Discord Bot</span>
        <div class="socio-icons">
            <a href="">Discord</a>
            <a href="">Youtube</a>
            <a href="">Instagram</a>
        </div>
    </div>
</div>