<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>B A C | Dashboard</title>
  <link rel="icon" type="image/ico"
    href="https://cdn.discordapp.com/attachments/1032715078946009149/1240198339316940861/Main_Channel_Logo.png?ex=6652df35&is=66518db5&hm=2895b864a0ba2e89e8a0c3114426ef4838bda7da887074615be93c2f0bf6106d&" />

  <!-- CSS JS Fonts Icons-->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/dist/css/custom.css" />
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
</head>