<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6580783478903307">
    <title>B A C - About</title>
    <link rel="shortcut icon" href="dist/img/logo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="dist/css/home.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){ 
            $("#menu-icon").click(function(){
                $("#2-button").css({"z-index":"-1"})
                $("#main-section").css({"blur":"500px"})
                $("#img-logo").css({"opacity":"0.1"})
            })
        })
        $(document).ready(function(){ 
            $("#close-icon").click(function(){
                $("#2-button").css({"z-index":"1"})
                $("#img-logo").css({"opacity":"1"})
            })
        })

    </script>
</head>

<body class="inset-0 -z-10 h-full w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] text-white">
    <header class="header">
        <div class="logo">
            B A C
        </div>

        <input type="checkbox" id="check">
            <label for="check"  class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>

            <nav>
                <a href="/" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Home</a>
                <a href="/about" class="text-[#63E] transition duration-150 ease-out hover:ease-in hover:text-[#63E]">About</a>
                <a href="/features" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Features</a>
                <a href="/status" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Status</a>
                <!-- <a href="/selector" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Dashboard</a> -->
            </nav>
    </header>

    <section class="min-h-screen min-w-screen flex flex-col justify-center items-center" id="main-section">
        <div class="container h-[85vh] flex flex-col gap-8 items-center justify-center">
            <div class="flex items-center justify-start gap-5">
                <div class="ImageContainer">
                    <img class="w-[100px] rounded-2xl" id="img-logo" src="dist/img/logo.gif" alt="B A C GAMING Logo">
                </div>
                <div class="nameContainer">
                    <span class="text-5xl font-bold text-white">Pushkar</span>
                </div>
            </div>
            <div class="text-2xl">
                <p>Discord Bot Developer.</p>
                <p>Front End Web Developer.</p>
                <p>Video Editor.</p>
            </div>
            <div class="flex gap-5 buttons" id="2-button">
                <a href="/youtube">Youtube</a>
                <a href="/instagram">Instagram</a>
            </div>
        </div>
    </section>
    
    <footer class="flex flex-col min-h-[10vh] min-w-screen gap-5">
        <div class="footer-logo flex justify-center items-center gap-5 pt-3">
            <img src="dist/img/logo.gif" class="h-[6vh] invert rounded-xl alt="Logo">
            <span>B A C</span>
        </div>

        <div class="footer-links flex justify-center items-center gap-10 pb-3 max-[768px]:flex-col max-[768px]:text-white">
            <a href="/terms" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Terms & Conditions</a>
            <a href="/privacy" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Privacy Policy</a>
            <a href="/legal" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Legal Notice</a>
        </div>

        <div class="footer-links flex justify-center items-center gap-10 pb-3 max-[768px]:flex-col max-[768px]:text-white">
            <span>Copyright © 2024 B A C Development. All rights reserved.</span>
        </div>
    </footer>
</body>

</html>