<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B A C - Official Discord App</title>
    <link rel="shortcut icon" href="dist/img/logo.png" type="image/x-icon">

    <!-- Css Link -->
    <link rel="stylesheet" href="dist/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="dist/img/logo.gif">
            <span class="logoSpan">B A C</span>
        </div>
        <div class="loginBtn">
            <a href="/selector">Dashboard</a>
        </div>
        <nav>
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="https://stats.uptimerobot.com/VzvnOi0k2X">Status</a>
        </nav>
        <input type="checkbox" name="" id="check">
        <label for="check" class="CheckBtn"><svg xmlns="http://www.w3.org/2000/svg" height="40px"
                viewBox="0 -960 960 960" width="40px" fill="#e8eaed">
                <path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z" />
            </svg></label>
    </header>

    <section>
        <main>
            <div class="main-logo">
                <img src="dist/img/logo.gif" alt="Logo">
                <span>B A C</span>
            </div>
            <div class="desc">
                <span>MultiPurpose Discord Bot</span>
                <span>Fully customizable</span>
                <span>Completely free.</span>
            </div>
            <div class="Btns">
                <button><a
                        href="https://discord.com/oauth2/authorize?client_id=1178318128430731264&permissions=8&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A3000%2Fthanks.html&integration_type=0&scope=bot+applications.commands">Add
                        to Discord</a></button>
                <button><a href="">Explore Features</a></button>
            </div>
            <div class="copyright">
                <footer>© 2024 <a href="https://youtube.com/@b.a.c_gaming/" style="color: #00FF47;">B A C
                        Development</a> • Not affiliated with
                    Discord Inc.</footer>
            </div>
        </main>
    </section>
</body>

</html>