<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6580783478903307">
    <title>B A C - Terms</title>
    <link rel="shortcut icon" href="dist/img/logo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="dist/css/home.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){ 
            $("#menu-icon").click(function(){
                $("#2-button").css({"z-index":"-1"})
                $("#main-section").css({"blur":"500px"})
                $("#img-logo").css({"opacity":"0.1"})
            })
        })
        $(document).ready(function(){ 
            $("#close-icon").click(function(){
                $("#2-button").css({"z-index":"1"})
                $("#img-logo").css({"opacity":"1"})
            })
        })

    </script>

    <style>
        li{
            margin-left: 30px;
            list-style: disc;
            font-size: 16px;
        }
    </style>
</head>

<body class="inset-0 -z-10 h-full w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] text-white">
    <header class="header">
        <div class="logo">
            B A C
        </div>

        <input type="checkbox" id="check">
            <label for="check"  class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>

        <nav>
            <a href="/" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Home</a>
            <a href="/about" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">About</a>
            <a href="/features" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Features</a>
            <a href="/status" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Status</a>
            <!-- <a href="/selector" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E]">Dashboard</a> -->
        </nav>
    </header>

    <section class="min-h-screen min-w-screen flex flex-col items-center p-10 max-[768px]:p-5" id="main-section">
        <div class="container h-[auto] flex flex-col gap-8">
            <div class="flex items-center justify-start gap-5">
                <div class="nameContainer flex flex-col gap-3">
                    <span class="text-5xl font-bold text-white">Terms of Service</span>
                    <span class="text-xl font-bold text-white">Effective: September 01, 2024</span>
                    <span class="text-xl font-bold text-white">Last updated: September 01, 2024.</span>
                    <span class="text-xl font-bold text-white">Privacy Policy: <a class="text-[#63E] underline" href="/privacy">/privacy</a></span>
                    <span class="text-xl font-bold text-white">Privacy Policy: <a class="text-[#63E] underline" href="/legal">/legal</a></span>
                </div>
            </div>
            <div class="text-lg w-[65vw] p-5 m-auto border-2 border-[#63E] rounded-xl max-[768px]:w-[90vw]">
                <div class="text-5xl text-center m-5 border-y-5 border-[#63E] w-[100%]">
                    <span>Terms.</span>
                </div>
                <div class="heading text-xl flex flex-col gap-3">
                    <div class="first">
                        <span class="text-[24px] font-bold">1. Introduction</span>
                        <p class="text-[16px]">
                            <ul class="flex flex-col gap-3">
                                <li>Thanks for being interested in using B A C. Before doing so, you should carefully read, understand and accept these Terms of Service and the corresponding Privacy Policy (accessible at <a href="/privacy" class="text-[#63E] underline">/privacy</a>, collectively referred to as "Terms").</li>
        
                                <li>This is a legal agreement between B A C Development ("I", "My", "Pushkar", "B A C") and you ("Your"). By using this Discord bot, its website, dashboard and other related products (collectively referred to as "B A C", "Bot" or "Service"), you are agreeing to the following Terms of Service. Please read them carefully.</li>

                                <li>In cases of doubt, the owner of the server on which B A C is held liable and is referred to as "You" in these Terms.</li>
        
                                <li>To fully understand and being able to agree to these Terms, you will have to read, understand and accept Discord Inc. ("Discord")'s Terms of Service (accessible at  <a href="https://discord.com/terms" class="text-[#63E] underline">https://discord.com/terms</a>), first.</li>
        
                                <li>B A C reserves the right to update these Terms, which may be done for reasons that include, but are not limited to, complying with changes to the law or reflecting enhancements to B A C. If the changes affect your usage of B A C or your legal rights, a message is sent into the "#updates" channel (ID: 816052001946992672) of B A C's Discord Support Server (ID: 1255882055430963201, accessible at  <a href="https://discord.gg/gmDUbQ56py" class="text-[#63E] underline">https://discord.gg/gmDUbQ56py</a>). You will be notified no less than 14 days before the changes take effect. Unless I state otherwise, your continued use of B A C after the modifications are posted will constitute your acceptance of and agreement to those changes. You agree that you won't be notified on changes to these Terms when not being part of the support server or disabled notifications of this server. You agree that you may be excluded from the support server when not following the rules stated in the "#rules" channel (ID: 1255882311354941440) and then won't be provided with any updates on any changes to these Terms. Either way, it is highly recommended to periodically check on these Terms to ensure that you still agree to them.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="second">
                        <span class="text-[24px] font-bold">2. About this service</span>
                        <p class="text-[16px]">
                            <ul class="flex flex-col gap-3">
                                <li>B A C is a bot for the chat and social platform "Discord" (accessible at  <a href="https://discord.com/" class="text-[#63E] underline">https://discord.com/</a>), provided by Discord Inc. This service allows you to make use of Discord's public API (its documentation is accessible at  <a href="https://discord.dev/" class="text-[#63E] underline">https://discord.dev/</a>, including its Terms of Service and Privacy Policy).</li>
        
                                <li>B A C is strictly following Discord's "Developer terms", does not want, is not trying to and is not knowingly abusing any of Discord's services. YOU ARE NOT ALLOWED TO USE THIS SERVICE OR ITS PROVIDED FEATURES OTHER THAN INTENDED. YOU MAY NOT USE B A C TO SEND DIRECT MESSAGE ADVERTISEMENTS TO USERS, SEND MULTIPLE MESSAGES IN A SHORT TIME SPAN TO USERS OR IN CHANNELS OR ABUSE B A C IN ANY OTHER WAY THAT COULD BE AGAINST THIS OR DISCORD'S TERMS. If you find out that someone is abusing B A C's features, please let me know as soon as possible.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="third">
                        <span class="text-[24px] font-bold">3. License</span>
                        <p class="text-[16px]">
                            <ul class="flex flex-col gap-3">
                                <li>You may use B A C and its services for any purpose, including commercial use, if not stated otherwise in this Terms. You may not reverse-engineer or otherwise attempt to derive source code from B A C. When mentioning or using brand features of B A C outside of Discord, you need to somehow mention that B A C is accessible at  <a href="https://bacgaming.xyz/" class="text-[#63E] underline">https://bacgaming.xyz/</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="fourth">
                        <span class="text-[24px] font-bold">4. Restrictions on your use of B A C's services</span>
                        <p class="text-[16px]">
                            B A C allows you to send messages into Discord channels without being able to clearly determine the responsible person of this message, therefore the owner of a Discord server is liable for messages or actions taken by the bot.
                            <br>
                            You may not do the following:
                            <ul class="flex flex-col gap-3">
                                <li>Send advertisements of any kind using B A C's message system.</li>

                                <li>Make the server from which a direct message was sent from unrecognizable. As B A C always includes the server from which a direct message was sent from to ensure that users can keep track of which servers are sending messages to them, you have to make sure that every direct message you sent using B A C is clearly identifiable as a message from your server.</li>

                                <li>Repeatedly send messages in a short time span, especially not via direct message.</li>
        
                                <li>Use B A C on servers that are against Discord's Community Guidelines or use B A C in a way that is against them.</li>
        
                                <li>Modify B A C's messages in a way that it gets unrecognizable to see the original reason for a sent message. As you are able to edit all messages B A C sends on your server and in direct messages sent from your server, you are responsible that it is clear why B A C sent a message (to a user). The improper use of a message is not permitted.</li>

                                <li>Directly access any of B A C's backend. While you are using these services, API calls are made to B A C's backend. You are not allowed to make API calls aside from the automatically made ones when access B A C's services.</li>

                                <li>Access B A C's services using automated technology such as bots or other software (known as "scraping").</li>
                            </ul>
                        </p>
                    </div>
                    <div class="fifth flex flex-col gap-2">
                        <span class="text-[24px] font-bold">5. Outages, termination and general service</span>
                        <p class="text-[16px]">
                            <ul class="flex flex-col gap-3">
                                <li>B A C and its services are completely free. I am actively developing new features and fix bugs to improve B A C and your user experience. Therefore I may add or remove features. While I try to avoid disruptions, I cannot guarantee that there will not be an outage or change to the service and your server's settings and set up messages ("Templates") may not be retrievable due to such outages or changes. I am not liable for any such outages or service changes, especially because B A C is a free service.</li>
            
                                <li>You are free to stop using B A C's services at any time for any reason by kicking B A C from your Discord server. Doing so will permanently delete your data you provided from B A C's servers but may not delete any log or backup data. More on that in the Privacy Policy.</li>
            
                                <li>Pushkar reserves the right to stop you using B A C's service with or without notice for any reason.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex gap-5 buttons hidden" id="2-button">
                <a href="/invite">Invite Bot Now</a>
                <a href="/features">Explore Features</a>
            </div>
        </div>
    </section>
    
    <footer class="flex flex-col min-h-[10vh] min-w-screen gap-5">
        <div class="footer-logo flex justify-center items-center gap-5 pt-3">
            <img src="dist/img/logo.gif" class="h-[6vh] invert rounded-xl alt="Logo">
            <span>B A C</span>
        </div>

        <div class="footer-links flex justify-center items-center gap-10 pb-3 max-[768px]:flex-col max-[768px]:text-white">
            <a href="/terms" class="text-[#63E] transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Terms & Conditions</a>
            <a href="/privacy" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Privacy Policy</a>
            <a href="/legal" class="transition duration-150 ease-out hover:ease-in hover:text-[#63E] max-[768px]:hover:text-white">Legal Notice</a>
        </div>

        <div class="footer-links flex justify-center items-center gap-10 pb-3 max-[768px]:flex-col max-[768px]:text-white">
            <span>Copyright © 2024 B A C Development. All rights reserved.</span>
        </div>
    </footer>
</body>

</html>